<div>
  <h2>You need <span class="plates">{{num_plates}} plates</span> and have <span [ngClass]="num_empty > 10 ? 'lots-empty' : 'few-empty'">{{num_empty}} empty wells</span> ({{num_empty_per_expt}} per experiment)</h2>

  <button mat-raised-button color="primary">Generate plate(s)</button>
  <button mat-raised-button disabled>Download plate architecture</button>
</div>



<app-samples></app-samples>

<app-expts></app-expts>
<app-replicates></app-replicates>
<app-controls></app-controls>

<app-plates></app-plates>
